@use "../../styles/abstracts" as *;

/* Valores Section */
.valores-section {
  background-color: $color-cream;
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  .valores-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    text-align: center;

    .valor-item {
      width: 30%;
      margin: 30px;

      img {
        width: 300px;
        height: auto;
        margin-bottom: 20px;
      }

      h3 {
        font-family: var(--font-baskerville);
        color: var(--color-bordo);
        margin-bottom: 10px;
        font-weight: 600;
        font-size: larger;
      }

      p {
        font-family: var(--font-montserrat);
        color: var(--color-bordo);
        line-height: 1.6;
        font-size: smaller;
      }
    }
  }
}

@media (max-width: 576px) {
  .valores-container {
    display: contents;
    padding: 40px 0;
  }
}
